# Dependencies
node_modules/
package-lock.json
yarn.lock

# Cloudflare / Wrangler
.wrangler/
.dev.vars

# Environment files (هرگز کامیت نشن!)
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
